<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 

    <h1>The Home Page <%= 'hello world'.toUpperCase() %> </h1>
    <p>jkal;dfjkl;ajkfl;asdkflhasuithqajhrjkbzcvjasbnjk;ldfjas;jkf;kl;ajfdksl;</p>
    <p>jklsjfsdldjfdklsjfksdlfhnxcnvklwdhrfl</p>
    <%- include('partials/footer') %> 
    <script src="/js/app.js"></script>
</body>
</html>